/node_modules
/public/hot
/public/heroku_config
/public/installation-default
/public/storage
/storage/*.key
/vendor
.env
Procfile
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
